/*===========================*/
/*【變數設定】*/

/*使用顏色*/
$color_Primary: #000000;
$color_Secondary: #FFFFFF;
$color_Adorn: #891818;

/*使用字體粗細*/
$fw-I: 500;
$fw-II: 700;
$fw-III: 900;

.fw-I{font-weight: $fw-I;}
.fw-II{font-weight: $fw-II;}
.fw_III{font-weight: $fw-III;}

/*===========================*/
/*【通用設定】*/

/*使padding與border不會增加總寬度*/
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/*字型設定*/
body{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}



/*使圖片不會在下方多出2~3px空間*/
img{
    //vertical-align: middle;
    display: block;
}

/*置中對齊，框住範圍的容器*/
.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2, p, ul{
        width: 100%;
    }
}

/*===========================*/
/*【flex設定】*/
.flex{
    
    &-cc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &-bs{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}




/*===========================*/
/*【個人介紹區】*/
.area_Profile{
    width: 100vw;
    height: 100vh;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/*中間的文字內容等*/
.area_Profile__flexItem{

    p{
        color: $color_Secondary;
        font-weight: $fw_II;
        font-size: 24px;
    }

    h1{
        color: $color_Secondary;
        font-weight: $fw_III;
        font-size: 80px;
        line-height: 94px;
    }

}

/*社群網頁的按鈕設定*/
.snsIconList__flexItem{
    display: block;
    width: 60px;
    height: 60px;
}

.be_Icon{
    background-image: url(../image/BE_Icon.svg);
    &:hover{background-image: url(../image/BE_hover.svg);}
}
.fb_Icon{
    background-image: url(../image/FB_Icon.svg);
    &:hover{background-image: url(../image/FB_hover.svg);}
}
.ig_Icon{background-image: url(../image/IG_Icon.svg);
    &:hover{background-image: url(../image/IG_hover.svg);}
}
.yt_Icon{background-image: url(../image/YT_Icon.svg);
    &:hover{background-image: url(../image/YT_hover.svg);}
}

/*===========================*/
/*【About區】*/
.area_About{
    background: $color_Secondary;
    padding-top: 64px;
    padding-bottom: 56px;

    P{
        font-size: 24px;
        line-height: 42px;
        font-weight: $fw-II;
        text-align: center;

    }
}

.workList{
    
    margin: 0 auto;
    width: 384px;
    border-top: 1px solid $color_Primary;

    .workList__item{
        font-size: 24px;
        line-height: 42px;
        text-align: center;
        font-weight: $fw_II;

        &::before{
            border: 1px solid green;
            color: red;
            background: #000;
        }
    }

}



/*===========================*/
/*【My Brand區】*/
.area_MyBrand{
    background: $color_Primary;
    padding-top: 64px;
    padding-bottom: 160px;
}


/*===========================*/
/*【Other Works區】*/
.area_OtherWorks{
    background: $color_Secondary;
    padding-top: 64px;
    padding-bottom: 160px;
}

.pictureList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li{
        margin-top: 56px;
    }

    h3{
        text-align: center;
        margin-top: 16px;
    }
}


/*===========================*/
/*【Contact區】*/
.area_Contact{
    background: $color_Primary;
    padding-top: 64px;
    padding-bottom: 80px;
}



/*===========================*/
/*【通用標籤區】*/

/*區域大標題*/
.areaTitle{
    font-size: 64px;
    line-height: 75px;
    font-weight: 500;
}

/*水平置中對齊*/
.m-0a{margin: 0 auto;}
.ta-c{text-align: center;}


/*網頁主色、次要色、點綴色*/
.c-p{color: $color_Primary;}
.c-s{color: $color_Secondary;}
.c-a{color: $color_Adorn;}


/*linbe-height行高*/
.lh-36{line-height: 36px;}
.lh-42{line-height: 42px;}

/*寬度百分比*/
.w-pc-32{width: 32%;}
.w-pc-49{width: 49%;}
.w-pc-66{width: 66%;}

/*margin左推*/
.ml-16{margin-left: 16px;}


/*margin上推*/
.mt-16{margin-top: 16px;}
.mt-24{margin-top: 24px;}
.mt-32{margin-top: 32px;}
.mt-40{margin-top: 40px;}
.mt-48{margin-top: 48px;}
.mt-56{margin-top: 56px;}
.mt-68{margin-top: 68px;}

/*※放在最後面是因為這樣才不會被有設margin:0 auto;的蓋掉*/
/*===========================*/


