@charset "UTF-8";
/*====================================================*/
/*【變數設定】*/
/*網站配色*/
/*字體粗細*/
/*====================================================*/
/*【共用標籤設定】*/
/*字體粗細*/
.fw-I {
  font-weight: 500;
}

.fw-II {
  font-weight: 700;
}

.fw_III {
  font-weight: 900;
}

/*置中對齊，框住範圍的容器*/
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/*區域大標題*/
.areaTitle {
  font-size: 64px;
  line-height: 75px;
  font-weight: 500;
}

/*寬度%數*/
.w-pc-100 {
  width: 100%;
}

/*linbe-height行高*/
.lh-36 {
  line-height: 36px;
}

.lh-42 {
  line-height: 42px;
}

/*flex種類*/
.flex-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-bs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*====================================================*/
/*【通用設定】*/
/*使padding與border不會增加總寬度*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*字型設定*/
body {
  font-family: 'Roboto', sans-serif;
}

/*使圖片不會在下方多出2~3px空間*/
img {
  display: block;
}

/*====================================================*/
/*【個人介紹區】*/
.area_Profile {
  height: 100vh;
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/*中央的文字內容等*/
.area_Profile__flexItem p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}

.area_Profile__flexItem h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
}

/*社群網頁的按鈕設定*/
.snsIconList__flexItem {
  display: block;
  width: 60px;
  height: 60px;
}

.be_Icon {
  background-image: url(../image/BE_Icon.svg);
}

.be_Icon:hover {
  background-image: url(../image/BE_hover.svg);
}

.fb_Icon {
  background-image: url(../image/FB_Icon.svg);
}

.fb_Icon:hover {
  background-image: url(../image/FB_hover.svg);
}

.ig_Icon {
  background-image: url(../image/IG_Icon.svg);
}

.ig_Icon:hover {
  background-image: url(../image/IG_hover.svg);
}

.yt_Icon {
  background-image: url(../image/YT_Icon.svg);
}

.yt_Icon:hover {
  background-image: url(../image/YT_hover.svg);
}

/*====================================================*/
/*【About區】*/
.area_About {
  background: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 56px;
}

.area_About h2 {
  text-align: center;
}

.area_About img {
  margin: 0 auto;
}

.area_About P {
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}

.workList {
  margin: 0 auto;
  width: 384px;
  border-top: 1px solid #000000;
}

.workList__item {
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  margin-top: 32px;
}

.workList__item span {
  position: relative;
}

.workList__item span::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50% 50%;
  background: #891818;
  left: -38px;
  top: 3px;
}

/*====================================================*/
/*【My Brand區】*/
.area_MyBrand {
  background: #000000;
  padding-top: 64px;
  padding-bottom: 160px;
}

.area_MyBrand h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
}

.area_MyBrand p {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.imgList__flexItem {
  margin-top: 40px;
}

.imgList__flexItem img {
  margin: 0 auto;
}

/*====================================================*/
/*【Other Works區】*/
.area_OtherWorks {
  background: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 160px;
}

.area_OtherWorks h2 {
  color: #000000;
  text-align: center;
}

.area_OtherWorks p {
  color: #000000;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.pictureList__flexItem {
  margin-top: 56px;
}

.pictureList__flexItem h3 {
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

/*====================================================*/
/*【Contact區】*/
.area_Contact {
  background: #000000;
  padding-top: 64px;
  padding-bottom: 80px;
}

.area_Contact h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  margin-top: 64px;
}

.area_Contact p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  margin-top: 16px;
}

.area_Contact p a {
  color: #FFFFFF;
}

/*====================================================*/
/*【推擠空間用標籤】*/
/*margin左推*/
.ml-16 {
  margin-left: 16px;
}

/*margin上推*/
.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-68 {
  margin-top: 68px;
}

/*====================================================*/
/*# sourceMappingURL=all.css.map */